---
import Layout from "@app/layouts/Layout.astro";
import Wrapper from "@app/layouts/Wrapper.astro";

import BlogContainer from "@features/blog/components/BlogContainer.astro";
import Pagination from "@shared/components/ui/Pagination.astro";

import { paginate } from "@shared/utils/pagination.util";
import Breadcrumb from "@shared/components/ui/Breadcrumb.astro";

import { getCollection } from "astro:content";

export const prerender = false;

const pageNumber = Math.max(1, Number(Astro.params.page) || 1);

const blog = await getCollection("blog", ({ data }) => {
  return data.draft === false;
});

const test = Array(40)
  .fill(null)
  .map(() => blog[0]);

const { paginatedItems, currentPage, totalPages } = paginate({
  items: test,
  currentPage: pageNumber,
  perPage: 4,
});

const breadcrumbs = [
  {
    name: "Inicio",
    href: "/",
  },
  {
    name: "Blog",
  },
];
---

<Layout
  title={`Blog - Página ${currentPage} | Gaspar Castillo - Software Developer`}
>
  <Wrapper>
    <Breadcrumb breadcrumbs={breadcrumbs} />

    <main>
      <BlogContainer items={paginatedItems} />
      <Pagination currentPage={currentPage} totalPages={totalPages} />
    </main>
  </Wrapper>
</Layout>
