---
import { getNowPlaying } from "@features/media/services/now-playing.service";

import Vinyl from "@shared/components/ui/Vinyl.astro";
import Offline from "@shared/components/icons/Offline.astro";

import { nowPlayingAdapter } from "@shared/utils/now-playing.adapter";
import Spotify from "@shared/components/icons/Spotify.astro";

const nowPlaying = await getNowPlaying({
  clientId: import.meta.env.PUBLIC_SPOTIFY_CLIENT_ID,
  clientSecret: import.meta.env.SECRET_SPOTIFY_CLIENT_SECRET,
  refreshToken: import.meta.env.SECRET_SPOTIFY_REFRESH_TOKEN,
});

const {
  albumImageUrl,
  title,
  artist,
  icon: Icon,
  isPlaying,
} = nowPlaying
  ? nowPlayingAdapter(nowPlaying)
  : {
      albumImageUrl:
        "https://res.cloudinary.com/dzn3nempv/image/upload/v1760909384/portfolio/albumCover_bractr.png",
      title: "Usuario",
      artist: "desconectado",
      icon: Offline,
    };
---

<aside
  class:list={[
    "flex w-fit items-center gap-4 rounded-2xl outline p-3 pr-5 backdrop-blur-sm",
    {
      "outline-green-500/30 bg-green-950/10 shadow-[0_0_15px_-3px_rgba(34,197,94,0.2)]":
        isPlaying,
    },
    { "outline-border-dark bg-card-dark": !isPlaying },
  ]}
>
  <Vinyl imageUrl={albumImageUrl} isPlaying={!!isPlaying} />

  <div class="flex flex-col justify-center">
    <div class="flex items-center gap-1 mb-1">
      <Spotify />
      <span class="text-xs font-medium text-text-dark/50">Spotify</span>
    </div>

    <h2
      class="text-sm font-bold text-text-dark max-w-32 truncate"
      title={title}
    >
      {title}
    </h2>

    <p class="text-xs text-text-dark/60 max-w-32 truncate" title={artist}>
      {artist}
    </p>
  </div>

  <Icon />
</aside>
