---
import type { CollectionEntry } from "astro:content";

import { formatDate } from "../../utils/format-date.util";

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;

const { data, collection, slug } = entry;
const { title, description, date } = data;

const formatedDate = formatDate(date);
---

<article
  class="p-4 hover:bg-secondary hover:cursor-pointer duration-300 rounded-md"
>
  <a href=`${collection}/${slug}`>
    <div class="inline-flex gap-4 items-center">
      <h3>{title}</h3>
      <span class="text-subtext-1 text-xs">{formatedDate}</span>
    </div>

    <p class="text-subtext-0">{description}</p>
  </a>
</article>
