---
import type { CollectionEntry } from "astro:content";
import BlogCard from "./BlogCard.astro";
import { formatDate } from "@shared/utils/format-date.util";

interface Props {
	items: CollectionEntry<"blog">[];
}

const { items } = Astro.props;
---

<ul class="flex flex-col gap-4">
	{
		items.map(({ data, collection, slug }) => {
			const { title, date, description } = data;
			const formattedDate = formatDate(date);

			return (
				<li>
					<BlogCard
						href={`/${collection}/${slug}`}
						title={title}
						date={formattedDate}
						description={description}
					/>
				</li>
			);
		})
	}
</ul>
