---
import ChevronRight from "@shared/components/icons/ChevronRight.astro";
import Clock from "@shared/components/icons/Clock.astro";
import ButtonLink from "@shared/components/ui/ButtonLink.astro";

interface Props {
  href: string;
  title: string;
  date: string;
  description: string;
  readingTime: string;
}

const { href, title, date, description, readingTime } = Astro.props;
---

<article
  class="group relative flex flex-col gap-3 p-6 bg-card-dark rounded-xl border border-border-dark outline outline-transparent hover:outline-gray-700 transition-all duration-300"
>
  <a class="absolute inset-0 z-10" href={href}></a>

  <header class="flex items-start justify-between gap-4">
    <div class="flex flex-col gap-1">
      <h3
        class="text-lg font-semibold text-text-dark group-hover:text-white transition-colors line-clamp-2"
      >
        {title}
      </h3>

      <div class="flex gap-1 items-center text-muted-dark-1">
        <Clock class={"size-3"} />
        <span class="text-xs">{readingTime}</span>
      </div>
    </div>

    <time class="text-xs text-muted-dark-1 whitespace-nowrap shrink-0"
      >{date}</time
    >
  </header>

  <p class="text-sm text-muted-dark-1 line-clamp-2">
    {description}
  </p>

  <ButtonLink
    class={"mt-auto flex items-center text-xs text-muted-dark-1 group-hover:text-white transition-colors self-start"}
    href="/blog/page/1"
  >
    <span>Leer más</span>

    <ChevronRight
      class="size-3.5 ml-1 group-hover:translate-x-1 transition-transform"
    />
  </ButtonLink>
</article>
