---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

const metadata = {
  description:
    "Portfolio de Gaspar Castillo, software developer con ambicion a fullstack",
  url: "https://isakidev.netlify.app/",
  author: "Gaspar Castillo Catrifol",
  keywords:
    "Portfolio, Ingeniero de Software, Node.js, React, Next.js, NestJS, Tailwind CSS, Docker, TypeScript, JavaScript",
  image:
    "https://res.cloudinary.com/dzn3nempv/image/upload/c_crop,g_auto,h_800,w_800/portfolio/barjgvkwgi5m6lxf9qyq.jpg",
  icon: "https://res.cloudinary.com/dzn3nempv/image/upload/c_lfill,h_50,w_50/v1758264381/portfolio/memoji_1_uhppb1.png",
};

const { description, author, url, keywords, image, icon } = metadata;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="keywords" content={keywords} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <link rel="icon" type="image/png+xml" href={icon} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
